<!DOCTYPE html>
<html lang="en" charset="UTF-8">
<head>

    <th:block th:replace="fragments/common-head-libs :: common-head-libs"></th:block>

    <title>e-Core - GCP</title>
</head>
<body>
<th:block th:replace="fragments/menu-fragment :: menu"></th:block>

<div class="container">
    <div class="card">
        <div class="card-header">
            Cloud Vision
        </div>
        <div class="card-body">
            <form class="needs-validation" novalidate th:action="@{/uploadFileToVisionFace}" method="post" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/no-picture.png" class="card-img-top" alt="" id="uploaded-image">
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label for="file-upload" class="custom-file-upload">
                                <i class="fas fa-cloud-upload-alt"></i> Selecione a imagem
                            </label>
                            <input type="file" id="file-upload" name="file" accept="image/png, image/jpeg">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Resultado da análise de imagem -->

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>


<script>
    const fileUpload = document.getElementById('file-upload');
    const uploadedImage = document.getElementById('uploaded-image');
    fileUpload.addEventListener('change', function(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            uploadedImage.src = e.target.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        } else {
            uploadedImage.src = '';
        }
    });
</script>


<th:block th:replace="fragments/commons-js :: commons-js"></th:block>

</body>

</html>
