<div class="d-flex" th:fragment="menu">
    <ul class="nav nav-pills menu-container">
        <li class="nav-item">
            <a class="nav-link active" href="/main">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Add users (on-hold)</a>
                <a class="dropdown-item" href="#">Edit users (on-hold)</a>
            </div>
        </li><li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trips</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/visionLandmarkDetection">Picture your destiny</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">AI / Data Tools</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/visionFaceDetection">What is your mood?</a>
                <a class="dropdown-item" href="/sentiment">Sentiment Analysis</a>
                <a class="dropdown-item" href="/translator">Translator</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Fraud Detection (in progress)</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="logout-link">Logout</a>
        </li>
    </ul>
</div>