body {
    background-color: #F1F2F3;
    font-family: Arial, sans-serif;
}

.btn-primary {
    background-color: #1a73e8; /* GCP Blue */
    border-color: #1a73e8;
}

.btn-primary:hover {
    background-color: #174ea6; /* GCP Darker Blue */
    border-color: #174ea6;
}

.button-secondary {
    background-color: #f1f3f4; /* GCP Gray */
    color: #1a73e8; /* GCP Blue */
}

.menu-container {
    background-color: #1a73e8; /* GCP Blue */
    padding: 10px;
    border-bottom: 2px solid #4285f4; /* GCP Lighter Blue */
}

.nav-pills .nav-link {
    color: #ffffff; /* GCP White */
}

.nav-pills .nav-link:hover {
    background-color: #4285f4; /* GCP Lighter Blue */
}

.nav-pills .nav-link.active {
    background-color: #4285f4; /* GCP Lighter Blue */
    color: #ffffff; /* GCP White */
}

.dropdown-menu {
    border: none;
    background-color: #174ea6; /* GCP Darker Blue */
}

.dropdown-item {
    color: #ffffff; /* GCP White */
}

.dropdown-item:hover {
    background-color: #4285f4; /* GCP Lighter Blue */
    color: #ffffff; /* GCP White */
}

#logout-link {
    color: #ffffff; /* GCP White */
}

#logout-link:hover {
    color: #4285f4; /* GCP Lighter Blue */
}

.row.justify-content-center.align-items-center {
    min-height: 50vh; /* Adjust the height as needed */
}

.col-md-8.d-flex.flex-column.justify-content-center.align-items-center {
    text-align: center;
}
