/* Estilos para o menu */
.menu-container {
    background-color: #ffffff; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    border-bottom: 2px solid #4285f4; /* Borda inferior */
}

.nav-pills .nav-link {
    color: #4285f4; /* Cor do texto */
}

.nav-pills .nav-link:hover {
    background-color: #f1f8ff; /* Cor de fundo ao passar o mouse */
}

.nav-pills .nav-link.active {
    background-color: #4285f4; /* Cor de fundo do item ativo */
    color: #ffffff; /* Cor do texto do item ativo */
}

.dropdown-menu {
    border: none; /* Remover borda */
}

.dropdown-item {
    color: #4285f4; /* Cor do texto do item do menu */
}

.dropdown-item:hover {
    background-color: #f1f8ff; /* Cor de fundo ao passar o mouse */
    color: #4285f4; /* Cor do texto ao passar o mouse */
}
