<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="en">
<head>
    <meta charset="UTF-8">
    <title>e-Core - GCP</title>
    <th:block th:replace="~{fragments/common-head-libs :: common-head-libs}"></th:block>
     <script>
        // Recupera a mensagem da URL
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');
    </script>
</head>

<body>
<section>

    <div class="content">

        <div class="form">
            <h2>Login</h2>
            <div id="message"></div>
            <div id="error-message"></div>
            <form action="#" id="login-form">
                <div class="input">
                    <span>E-mail</span>
                    <input type="text" name="email" id="email">
                </div>
                <div class="input">
                    <span>Password</span>
                    <input type="password" name="password" id="password">
                </div>
                <div class =remember-me>
                    <label>
                        <input type="checkbox" id="remember" name="remember"> Remember me?
                    </label>
                </div>
                <div class="input">
                    <input type="submit" value="Login" id="login-button">
                </div>
                <div class="input">
                    <p>Don't have an account? <a href="/signUpFirebase">Sign up</a> </p>
                </div>

            </form>
            <div class="input" style="display: flex; justify-content: center; align-items: center;">
                <button id="login-google" class="btn btn-google btn-block">
                    <i class="fab fa-google"></i> Google
                </button>
                <button id="login-github" class="btn btn-github btn-block">
                    <i class="fab fa-github"></i> Github
                </button>
            </div>
        </div>
    </div>
</section>
<script>
    // Função para obter parâmetros da URL
    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    // Verifique se o parâmetro 'emailVerification' está presente na URL
    const emailVerification = getUrlParameter('emailVerification');
    if (emailVerification === 'true') {
        // Se sim, exiba a mensagem para verificar o email
        document.getElementById('emailVerificationMessage').style.display = 'block';
    }
    window.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');

        if (message) {
            document.getElementById('message').textContent = message;
        }
    });
</script>
<th:block th:replace="~{fragments/commons-js :: commons-js}"></th:block>
</body>
</html>