<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-Core - GCP</title>
    <th:block th:replace="fragments/common-head-libs :: common-head-libs"></th:block>

</head>
<body>
<th:block th:replace="fragments/menu-fragment :: menu"></th:block>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Enviar para análise
                </div>
                <div class="card-body">
                    <form th:action="@{/sentimentAnalysis}" method="post">
                        <div class="form-group">
                            <label for="dadosTextarea">Digite seus dados:</label>
                            <textarea class="form-control" id="dadosTextarea" name="textToAnalyze" rows="5" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/commons-js :: commons-js"></th:block>

</body>
</html>
